.banner_container {
    bottom: 0;
    left: 0;
    position: relative;
    z-index: 1;
    right: 0;
    top: 0;
    height: 56.25vw;
    min-height: 500px;
    max-height: 80vh;
    margin-bottom: -15vh;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  }
  
  .banner_container::before {
    position: absolute;
    min-height: 600px;
    height: 71.25vw;
    width: 100%;
    background: linear-gradient(to right, #141414, transparent 600px),
      linear-gradient(to top, #141414, transparent 1000px);
    pointer-events: none;
  }
  
  @media screen and (max-width: 768px) {
    .banner_container::before {
      background: linear-gradient(to right, #141414, transparent 200px),
        linear-gradient(to top, #141414, transparent 400px);
    }
  }
  
  .banner_container_text {
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .banner_container_text {
      position: absolute;
      top: -30px;
    }
  }
  
  .bannerVideo_container iframe {
    position: absolute;
    z-index: 10;
    height: 150%;
    transform: translateY(-20%);
  }
  
  .ytp-cued-thumbnail-overlay {
    width: 100vw !important;
  }
  
  .ytp-cued-thumbnail-overlay-image {
    background-size: contain !important;
  }
  
  .banner_text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 50vw;
    padding-top: 8.5vw;
    padding-left: 40px;
  }