.body{
  background-color: rgb(21, 20, 20);
  color: white;
}
.nav-head{
  color: rgb(255, 211, 211);
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2rem;
}
.nav-head:hover{
  color: rgb(250, 164, 164);
}
.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover{
  color: rgb(250,164,164);
}

.banner{
  height: 600px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 600px;
  background: linear-gradient(to right,black,transparent);
}
.bannerText{
  color:#fff;
  width: 40%;
  margin-left: 2rem;
  z-index: 10;
}

.moviecard{
  position: relative;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  border-radius: 10px;
  transform-origin: bottom;
  transition: 0.3s;
}

.bannerImg{
  background-position: 50%;
  background-size: cover;
  left: 0;
  top: 65px;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 70%;
  overflow: hidden;
  z-index: 1;
}

.testtest{
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-left: 20px;
}
.testtest p {
  margin-top: 40px;
}

.MovieDetail_Section {
  position: relative;
  background-color: #141414;
}

.MovieDetail_Section h1 {
  position: relative;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  white-space: nowrap;
}
.subTitle {
  color: red;
  font-size: 42px;
  margin-right: 10px;
  position: relative;
}
.divide_line {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  width: 100%;
  margin-left: 40px;
  z-index: 100;
}

.MovieDetail_section_overview {
  font-size: 15px;
  padding: 10px 30px;
  line-height: 25px;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.MovieDetail_section_overview_divide_line {
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 60%;
  display: none;
}

.MovieDetail_section_overview_item_left {
  margin-right: 100px;
  max-width: 50vw;
}

.MovieDetail_section_overview_item_right {
  max-width: 50vw;
}

.MovieDetail_section_overview_item_right div {
  margin-bottom: 25px;
}

.MovieDetail_section_overview_item_right div:nth-child(3) {
  margin-bottom: -20px;
}
.MovieDetail_section_overview_item_right div span {
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.MovieDetail_section_overview_vote_container {
  display: flex;
}

.overview_vote_average {
  font-size: 15px;
  padding: 3px 10px;
  vertical-align: middle;
  border-radius: 15%;
  background-color: rgb(231, 150, 0);
  color: rgb(30, 30, 30);
  font-weight: bold;
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
}

.overview_genres {
  word-break: break-all;
  white-space: nowrap;
  overflow: scroll;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(255, 40, 40);
  color: white;
}

.overview_G_rate {
  color: rgb(30, 30, 30);
  font-size: 18px !important;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(0, 146, 0);
  text-align: center;
  margin-left: 5px;
  transform: scale(0.8);
  display: inline-block;
}

.overview_adult_rate {
  color: rgb(30, 30, 30);
  font-weight: bold;
  padding: 3px 10px;
  margin-left: 7px;
  border-radius: 5px;
  background-color: rgb(162, 0, 0);
  text-align: center;
  margin-left: 5px;
}

.cardFlex {
  display: flex;
  margin: 1rem;
}